/* TODO Add site wide styles */
@font-face {
    font-family: BigBang;
    src: url('./assets/fonts/BigBang.otf')
    format('opentype');
}

body {
    color: grey;
    font-family: BigBang;
    /* Site Fonts:
    Chathura (font squirrel)
    Exo / Exo Condensed (FS)
    Futura Renner (FS)
    Meccanica (FS)
    BigBang

    LOGO Fonts:
    Salaryman (FS)
    Arista Pro (FS)
    FortySecondStreet (FS)
    BigBang

     */
}

button {
    background-color: rgba(255, 69, 00, .7);
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}
