.form-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px grey;
}

.login-input {
    width: 300px;
    height: 25px;
    border: none;
    border-bottom: 1px solid grey;
    text-size-adjust: auto;
}

.login-input:focus {
    outline: none;
}

.login-input[type="text"], .login-input[type="password"]
{
    font-size:20px;
    color: orangered;
    font-family: BigBang;
}

#login-button-div {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

#login-button {
    padding: 1px 0px;
    width: 308px;
    height: 25px;
}

.other-page-link {
    text-decoration: none;
}

.link-div {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
