#new-event-form-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    width: 380px;
    margin: auto;
    box-shadow: 5px 5px 5px 5px grey;
}

.event-input {
    width: 300px;
    height: 25px;
    border: none;
    border-bottom: 1px solid grey;
    text-size-adjust: auto;
    /* align-self: center; */
}

.event-input:focus {
    outline: none;
    background-color: rgba(128, 128, 128, .1);
    border-radius: 3px;
}

.event-input[type="text"], textarea.event-input, select.event-input, .event-input[type="number"], .event-input[type="date"]
{
    font-size:20px;
    color: orangered;
    font-family: BigBang;
    background-color: rgb(50, 50, 50);
}

/* .event-form {
    justify-content: center;
} */

input {
    width: 300px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px;
    margin-left: 5px;
}

.form-buttons > .form-button {
    padding: 1px 0px;
    width: 90px;
    height: 30px;
}

.link-div {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}
