@font-face {
    font-family: FortySecondStreet;
    src: url('../../assets/fonts/FortySecondStreetHB/FORTSSH_.ttf')
    format('opentype');
}

.navlinks {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    border-bottom: 1px solid rgba(128, 128, 128, .15);
}

.navbar {
    padding: 5px;
    color: grey;
    text-decoration: none;
}

.active {
    color: orangered;
}

.logo {
    font-family: FortySecondStreet;
    list-style-type: none;
    font-size: 35px;
}

#logo-up {
    color: orangered;
}
